{% extends "base.html" %}

{% block content %}
    <div class="row">
          <div class="col s8 m9 mycol" >
                <div class="row">
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable green lighten-2">
                            <div class="card-content white-text">
                                <span class="card-title">Кондиционер</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text red" name="air_conditioner" value="True" {% if data.air_conditioner %}checked{% endif %} />
                                        <span  class="white-text">Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Лампа в спальне</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="bedroom_light" value="True"/>
                                        <span  class="white-text">Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Лампа в ванной</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="bathroom_light" value="True"/>
                                        <span  class="white-text">Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Занавески</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="curtains" value="Open"/>
                                        <span  class="white-text">Открыть</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Бойлер</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="boiler" value="True"/>
                                        <span  class="white-text">Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Холодная вода</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="cold_water" value="True"/>
                                        <span  class="white-text">Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Горячей вода</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="hot_water" value="True"/>
                                        <span  class="white-text">Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m4  mycol center-align">
                        <div class="card hoverable blue darken-2">
                            <div class="card-content white-text">
                                <span class="card-title">Стиральная машина</span>
                                <form action="#">
                                    <label>
                                        <input type="checkbox" class="white-text" name="washing_machine" value="True"/>
                                        <span  class="white-text" checked>Включить</span>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
        <div class="col s4 m3 mycol left-align">
            <ul>
                <li><span style="float:right;padding-right:1.5rem;" >{{ data.bedroom_temperature }}<i class="tiny material-icons">ac_unit</i></span>Температура в спальне:</li>
                <li><span style="float:right;padding-right:1.5rem;">{{ data.boiler_temperature }}<i class="tiny material-icons">opacity</i></span>Температура горячей воды бойлере:</li>
                <li><span style="float:right;padding-right:1.5rem;">{% if data.smoke_detector  %} да{% else %}  нет{% endif%}<i class="tiny material-icons">smoking_rooms</i></span>Задымление:</li>
{#                <li><span style="float:right;padding-right:1.5rem;">{% if data.bedroom  %} да{% else %}  нет{% endif%}<i class="tiny material-icons">peoples</i></span>Присутствие:</li>#}
                <li><span style="float:right;padding-right:1.5rem;">{% if data.washing_machine == "on" %} включена {% elif data.washing_machine == "off"%} выключена {% else %} сломана {% endif%}<i class="tiny material-icons">new_releases</i></span>Стиральная машина:</li>
                <li><span style="float:right;padding-right:1.5rem;">{% if data.leak_detector %}протечка{% else %}нет протечки{% endif%}<i class="tiny material-icons">opacity</i></span>Протечка воды:</li>
            </ul>
        </div>

    </div>
{% endblock %}